/*  your css code here. If applicable */
.container{
	display:flex;
	background-color:lightblue;
	width:100px;
	height:100px;
	border:2px solid black ;
    justify-content:center;
	align-item:center;

}
.item{
	color: purple;
	
	
	
}